  <div class="form-group row">
    <table class= "table table-bordered">
      <tr>
        <td><%= f.label :"イベント画像" %></td>
        <td><%= f.attachment_field :image %></td>
      </tr>
      <tr>
        <td><%= f.label :"イベント名" %></td>
        <td><%= f.text_field :name, placeholder: "イベント名を入力してください。" %></td>
      </tr>
      <tr>
        <td><%= f.label :"イベント説明" %></td>
        <td><%= f.text_field :description, placeholder: "説明を入力してください。" %></td>
      </tr>
      <tr>
        <td><%= f.label :"ジャンル" %></td>
        <td><%= f.collection_select(:genre_id, @genres, :id, :name, prompt: "-- ジャンルを選択してください --") %></td>
      </tr>
      <tr>
        <td><%= f.label :"税抜価格" %></td>
        <td><%= f.text_field :price, placeholder: "金額を入力してください。" %>円</td>
      </tr>
      <tr>
        <td><%= f.label :"募集期限" %></td>
        <td><%= f.date_field :expired_at, placeholder: "日付を入力してください。" %></td>
      </tr>
      <tr>
        <td><%= f.label :"販売ステータス" %></td>
        <td><%= f.radio_button :is_active, :true %><%= f.label :is_active, "販売中", {value: :true, style: "display: inline-block;"} %>
          <%= f.radio_button :is_active, :false %><%= f.label :is_active, "販売停止", {value: :false, style: "display: inline-block;"} %>
        </td>
      </tr>
    </table>
  </div>