  <div class="container">
   <div class="form-group row">
    <h2 class="col-2 align-self-start text-center text-white bg-secondary mt-4">商品詳細</h2>
    <table class= "table table-bordered">
      <tr class="text-center">
        <td>イベント名</td>
        <td><%= @project.name %></td>
      </tr>
      <tr>
        <td class="text-center">イベント説明</td>
        <td><%= @project.description %></td>
      </tr>
      <tr class="text-center">
        <td>ジャンル</td>
        <td><%= @project.genre.name %></td>
      </tr>
      <tr class="text-center">
        <td>税抜価格</td>
        <td><%= @project.price.to_s(:delimited) %>円</td>
      </tr>
      <tr class="text-center">
        <td>販売ステータス</td>
        <td>
          <% if @project.is_active == true %>
            販売中
          <% elsif @project.is_active == false %>
            販売停止中
          <% end %>
        </td>
      </tr>
    </table>
    <div class="col text-left">
      <%= link_to "編集する", edit_admin_project_path(@project), data: {"turbolinks" => false}, class: "btn btn-success" %>
    </div>
   </div>
  </div>
