  <div class="shiba-background">
    <div class="container">
      <div class="row">
        <div class="row align-items-center">
          <%= attachment_image_tag(@project, :image, size: "340x220", fallback: "no_image.jpg" ) %>
        </div>
        <div class="col-4 offset-1 product_show pt-2 pb-2">
          <h2><%= @project.name %></h2><br>
          <h4><%= @project.description %></h4><br>
          <h3>¥ <%= (@project.price * 1.1).floor.to_s(:delimited) %>
            <span>(税込)</span>
          </h3><br>
          <h3>参加定員</h3>
          <h5><%= @project.count_limid %>人</h5><br>
          <h3>募集期限</h3>
          <h5><%= @project.end_time %></h5>
          <% if @project.is_active == true %>
            <% if @project.genre.is_valid == true %>
              <%= form_with model:@cart_project , url: public_cart_projects_path, method: :post, local:true do |f| %>
                <%= f.hidden_field :project_id, value: @project.id %>
                <%= f.select :quantity, options_for_select((1..10).to_a), include_blank: "個数選択" %>
                <%= f.submit "カートに入れる", class: "glyphicon glyphicon-shopping-cart btn btn-primary" %>
              <% end %>
            <% else %>
              <h3>売り切れ中</h3>
            <% end %>
          <% elsif @project.is_active == false %>
            <h3>売り切れ中</h3>
          <% end %>
        </div>
      </div>
    </div>
  </div>